{% extends 'base.html' %}

{% block title %}Edit "{{ post['title'] }}"{% endblock %}
{% block username%}{{ g.user['username'] }}{% endblock %}



{% block container %}
<div class="container">
  <div class="section">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input type="text" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
          <label for="title">Title</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <i class="material-icons prefix">mode_edit</i>
          <textarea class="materialize-textarea" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
          <label for="body">Body</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input type="submit" value="Save" class='col s12 btn btn-large waves-effect indigo'>
        </div>
        <!-- <div class='input-field col s6'>
          <div class="row">
            <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post" class="col s12">
              <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" class='col s12 btn btn-large waves-effect indigo'>
            </form>
          </div>
        </div> -->
      </div>
    </form>

    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post" class="col s12">
      <div class='row'>
        <div class='input-field col s12'>
          <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" class='col s12 btn btn-large waves-effect indigo'>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}